body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

  .image{
    filter: blur(20px);
    -webkit-filter: blur(40px);
    margin-top: 40px;
    
  }

  .btn-card{
      width: 100%;

      
  }
